/* General styles */
html, body {
	background-color: #FAFAFC;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: 15px;
}

.font-boldish {
	font-weight: 500;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.page-fill {
	 flex-grow : 1;
	 overflow: hidden;
}

.page-fill-scroll {
	flex-grow: 1;
	overflow-y: scroll;
	overflow-x: hidden;
}

.page-resize {
	min-height: 400px;
	max-height: 900px;
	max-width: 1900px;
}

.area-fill {
  width: 100%;
  height: 100%;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.center-x {
  display: flex;
  justify-content: center;
}

.btn, .card {
	 border-radius: 0;
}

.px-clear {
	padding-left: 0px;
	padding-right: 0px;
}

.pl-clear {
	padding-left: 0px;
}

.pr-clear {
	padding-right: 0px;
}

.border-general {
  border: 1px solid #CECECE !important;
}

.border-clear {
	border: 0px solid !important;
}


/* Navbar related CSS */
.navbar {
	background-color: #000000;
}

.navbar-brand {
	font-size: 40px;
  text-decoration: none;
}

.navbar-brand:hover {
	font-weight: 500;
}

.nav-link {
	color: #FFFFFF;
	font-size: 20px;
	border-radius: 0;
}

.nav-link:hover {
	color: #FFFFFF;
	font-size: 21px;
	font-weight: 500;
}


/* LOG IN STYLES */

.login-container {
		align-self: center;
	  margin: 10% 10% 0.5% 10%;
		padding: 5% 10% 5% 10%;
		width: 50%;
	  background-color: #FAFAFC;
	  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	  height: 60vh;
	  overflow: hidden;
}

.login-field {
	display: block;
}


/* ADMIN STYLES */

.admin-nav {
  background-color: #E8E8EB;
  max-height: 100%;
  padding:0;
  flex-flow:column;
}

.admin-nav-item {
  min-height: 100%;
}

.admin-nav-item a {
 text-decoration: none;
 color: #000000;
}

.admin-nav-item:hover a {
  color: #000000;
}

.admin-nav-item:hover {
  color: #FFFFFF;
  background-color: #FAFAFC;
}

.admin-nav.active {
  background-color: #DA210D;
}

.admin-nav-item.active a {
  color: #FFFFFF;
  background-color: #DA210D;
}

.admin-nav-item.active:hover {
  background-color: #DA210D;
}

.admin-container {
  position: absolute;
  margin: 0.5% 5% 0.5% 5%;
  width: 90%;
	max-height: 90%;
  background-color: #FAFAFC;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  height: 90vh;
  overflow: hidden;
}

.admin-content {
  background-color: #FFFFFF;
	max-height: 100%;
}

.admin-database {
  max-height: 92%;
	overflow: hidden;
	padding: 1%;
}

.admin-filter {
	max-height: 50%;
	overflow: hidden;
}

.admin-scroll {
  overflow-y: auto;
  height: 80vh;
}

.admin-table{
	margin: 0;
}


/* pageination styles */
.db-pagination.hover {
  color: #FFFFFF;
}

.page-clickable:hover {
  color: #000000;
  background-color: #DA210D !important;
}

.page-active{
	background-color: #DA210D !important;
	border-color: #DA210D !important;
}

.custom-pageination {
	position: fixed;
}

/* add question styles */
.admin-add-container {
  margin: 2.5% 10% 2.5% 10%;
	max-height: 70vh;
	overflow: scroll;
	overflow-x: hidden;
}


/* remove rounded corners from pagination */
.pagination>li:first-child>.page-link, .pagination>li:first-child>span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.pagination>li:last-child>.page-link, .pagination>li:last-child>span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}


/* admin db options page styles */
.admin-option {
  margin: 2.5% 10% 2.5% 10%;
}

/* Breadcrumbs related CSS */
.breadcrumb {
  color: #aaa !important;
  margin: 0px;
}

.breadcrumb>li+li:before {
  padding-left: 12px;
  padding-right: 12px !important;
  content: ">" !important;
}

.breadcrumb-item+.breadcrumb-item {
  padding-left: 0;
}

.circle {
  padding-bottom: 6px !important;
  padding-top: 6px !important;
  padding-right: 12px !important;
  padding-left: 12px !important;
  border-radius: 200px !important;
  margin-right: 12px;
  background-color: #FFFFFF !important;
}

/*  */
.active {
  /* border: 2px solid #EB0A00; */
  background-color: #EB0A00;
}

.inactive {
  border: 2px solid #CECECE;
  color: #CECECE;
}

.breadcrumb a {
  color: #EB0A00;
  text-decoration: none;
}

.breadcrumb a:hover .active {
  background-color: #EB0A00 !important;
  color: #FFFFFF !important;
}


/* Homepage related CSS */
.minitron {
	min-height: 350px;
	background-color: #3C3C3C;
	width: 100%;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

.minitron-content {
	max-width: 950px;
	background-color: #FFFFFF;
	text-align: center;
	padding: 40px;
	font-size: 20px;
}

.btn-get-started {
	font-size: 20px;
	font-weight: 500;
}

.how-to-use {
	max-width: 950px;
}

.card {
	height: 100%;
	border: 1px solid #CECECE;
}

@media only screen and (min-width: 768px) {
	.pl-clear-card {
		padding-left: 0px;
	}
}

@media only screen and (min-width: 768px) {
	.pr-clear-card {
		padding-right: 0px;
	}
}


/* Option select related CSS */
.option-center-text {
  background-color: #eb0a00;
  font-size: 33px;
  font-weight: 500;
}


/* Select related CSS */
.border-header {
	border: 1px solid #707070;
}

.row-1 {
	display: flex;
	flex-wrap: wrap;
	margin: -0.25rem;
}

.border-sub {
	border: 1.5px solid #CECECE !important;
}

.border-sub-r {
	border-right: 1.5px solid #CECECE !important;
}

.border-selected {
	border-left: 6px solid #EB0A00 !important;
}


/* Print related CSS */
.display-region {
	height: 100%;
	width: 55%;
}

.border-black {
	border: 1px solid #000000 !important;
}







.questionimg {
  max-height: 100%;
  width: auto;
}





.border-black {
	border: 1px solid #000000 !important;
}

.border-print {
	border: 3px solid #EB0A00 !important;
}




.btn-danger{color:#fff;background-color:#eb0a00;border-color:#eb0a00}.btn-danger:hover{color:#fff;background-color:#c80900;border-color:#bc0800}.btn-check:focus+.btn-danger,.btn-danger:focus{color:#fff;background-color:#c80900;border-color:#bc0800;box-shadow:0 0 0 .25rem rgba(238,47,38,0.5)}.btn-check:checked+.btn-danger,.btn-check:active+.btn-danger,.btn-danger:active,.btn-danger.active,.show>.btn-danger.dropdown-toggle{color:#fff;background-color:#bc0800;border-color:#b00800}.btn-check:checked+.btn-danger:focus,.btn-check:active+.btn-danger:focus,.btn-danger:active:focus,.btn-danger.active:focus,.show>.btn-danger.dropdown-toggle:focus{box-shadow:0 0 0 .25rem rgba(238,47,38,0.5)}.btn-danger:disabled,.btn-danger.disabled{color:#fff;background-color:#eb0a00;border-color:#eb0a00}

.btn-light{color:#fff;background-color:#FFFFFF;border-color:#FFFFFF}.btn-light:hover{color:#fff;background-color:#FFFFFF;border: 10px solid #eb0a00 !important;}.btn-check:focus+.btn-light,.btn-light:focus{color:#fff;background-color:#FFFFFF;border-color:#FFFFFF;}.btn-check:checked+.btn-light,.btn-check:active+.btn-light,.btn-light:active,.btn-light.active,.show>.btn-light.dropdown-toggle{color:#fff;background-color:#FFFFFF;border-color:#FFFFFF}.btn-check:checked+.btn-light:focus,.btn-check:active+.btn-light:focus,.btn-light:active:focus,.btn-light.active:focus,.show>.btn-light.dropdown-toggle:focus{box-shadow:0 0 0 .25rem rgba(255,255,255,0.5)}.btn-light:disabled,.btn-light.disabled{color:#fff;background-color:#fff;border-color:#fff}.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle{color:#fff;background-color:#FFFFFF;border: 10px solid #eb0a00 !important;}
